@font-face {
	font-family: "zx-spectrum";
	src: url("../src/assets/fonts/zx-spectrum.ttf") format("truetype");
	font-weight: 400;
	font-weight: normal;
}

@font-face {
	font-family: "press-start";
	src: url("../src/assets/fonts/press-start.k.ttf") format("truetype");
	font-weight: 400;
	font-weight: normal;
}
